
*{
    box-sizing: content-box;
}

@media only screen and (min-width: 375px) {
    body{
        background: linear-gradient(#111111,#111213) no-repeat;
        text-align: center;
    }

    .card-title{
        font-size: 2em;
        font-family: "Garamond", serif;
        font-style: normal;
        color: black;
        text-align: left;
    }

    .card-subtitle{
        font-size: 1.3em;
        font-family: "Garamond", serif;
        font-style: normal;
        color: blue;
        text-align: left;
    }
    .card-text{
        font-size: 1.5em;
        font-family: "Georgia", serif;
        font-style: normal;
        color: black;
        text-align: left;
        letter-spacing: 1px;
    }
    .btn-article{
        background: linear-gradient(#569EC3,#5093B5) no-repeat ;
        color: white;
    }

    .card{
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
    .card-image-article{
        width: 35%;
        border:2px solid #707070;
    }
    .info-sidebar{
        background:#E8E8E8;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .nav-link{
        color: white;
        font-size: 1.3em;
        font-family: "Garamond", serif;
    }
    .slider-summary-container{
        height: 150px;
    }
    .text-summary{
        color: #A3A3A3;
        font-family: "Garamond", serif;
    }
    .text-style{
        color: white;
        font-family: "Garamond", serif;
    }
    #more {display: none;}
    #carousel-container{
        height: 20vh;
    }
    .page-item{
        width: 10px;
        background: #C1C1C1;
        color: white;
        margin: 2px;
        padding: 0 5px;
        text-decoration: none;
    }
    .card-container{
        border-bottom: 2px solid #A3A3A3;
    }
    .sponsors-wrap{
        display: flex;
        flex-wrap: wrap;
    }
    .sponsors-wrap img{
        width: 25%
    }
    .flickr-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .flickr-wrap img{
        width: 33%
    }
    .contact-wrap p {
        margin: 0;
    }
    .search-icon{
        background: white;
        width: 35px;
    }
    .form-search{
        display: flex;
        justify-content: center;
    }
    .input-container {
        display: flex;
        width: 100%;
        margin-bottom: 15px;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(184 ,182 ,181)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .navbar-toggler {
        border-color: rgb(184 ,182 ,181)
    }
}
@media only screen and (min-width: 768px)  and (max-width: 1200px) {
    .info-sidebar{
        flex-direction: column;
    }
    #carousel-container {
        height: 28vh;
    }
    .articles-container{
        flex-direction: column;
    }
    .info-sidebar{
        flex-direction: row;
    }
}
@media only screen and (min-width: 1200px) {
    .articles-container{
        flex-direction: row!important;
    }
    #carousel-container{
        height: 50vh;
    }
    .card-image-article{
        width: 16%;
    }
    .card-text {
        font-size: 0.9em;
    }
    .card-subtitle{
        font-size: 0.7em;
    }
    .card-title {
        font-size: 1.5em;
    }
    .info-sidebar{
        background:#E8E8E8;
        width: 25%!important;
    }
    .sponsors-wrap img{
        width: 12%;
        margin: 5px
    }
    .flickr-wrap img{
        width: 26%
    }

}

@media only screen and (min-width: 1400px) {
    #carousel-container{
        height: 60vh;
    }
}
